*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.mid{
    width: 80%;
    margin: auto;
}
.btn-primary{
    padding: 20px 43px;
    background-color:  #E55473;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
}
.description{
    color: #7C7778;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
.mini-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.featured-container p{
    width: 580px;
    margin: auto;
    margin-bottom: 20px;
}






/* Header-Part-Start */
.header{
    background-color: #FCEEF1;
}
.stall-opening-look{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.title{
    color: #272727;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;
}
.heading-flower-pic img{
    margin-top: 50px;
    height: 580px;
 }
 /* Heading-Part end */
 .featured-container{
    margin-top: 100px;
    margin-bottom: 50px;
    height: 100vh;
 }
 .description-of-featured{
    text-align: center;
 }
 .box-card{
    width: 200px;
    height: 280px;
    text-align: center;
 }
 .box{
    background-color: rgba(167, 33, 98, 0.15);
    width: 200px;
    height: 250px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
 }
 .box-1 img{
    width: 60%;
    height: 220px;
    margin-top: 30px;
 }
 .flower-case{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
 }
 /* .link-case{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
 } */
 .box a{
    display: block;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 800;
    margin-top: 15px;
    color: #272727;
 }

 