*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.mid{
    width: 80%;
    margin: auto;
}
.btn-primary{
    padding: 15px 40px;
    background-color:  #E55473;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
}
.color-primary{
    color: #E55473 ;
}
.description{
    color: #7C7778;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}
.mini-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.mini-title2{
    font-size: 25px;
    font-weight: 800;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Header-Part-Start */
.header{
    background-color: #FCEEF1;
}
.stall-opening-look{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.title{
    color: #272727;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;
}
.heading-flower-pic img{
    margin-top: 50px;
    height: 570px;
 }
 /* Heading-Part end */
 /* Featured Part Start */
 .featured-container{
    margin: 80px auto;
    
 }
 .description-of-featured{
    text-align: center;
 }
 .box-card{
    width: 200px;
    height: 280px;
    text-align: center;
 }
 .box{
    background-color: rgba(167, 33, 98, 0.15);
    width: 370px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
 }
 .box-1 img{
    width: 60%;
    height: 280px;
    margin-top: 70px;
 }
 .flower-case{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
 }
 .box a{
    display: block;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 800;
    margin-top: 20px;
    color: #272727;
 }
 .bg-col2{
    background-color: #D9EFF1;
 }
 .bg-col3{
    background-color: #E3EBDB;
 }
 /* Featured Part End */
 /* .call-service-Start */
.call-service-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F4F4F4 ;
    padding: 70px 10px;
    border-radius: 10px;
}
.call-service{
    text-align: center;
    
}
 .call-service img{
    width: 60px;
 }
 .call-service p{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.80);
 }
  /* .call-service-End */
   /* .Hot-deals-Start */
   .hot-dealscontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FEF6F8;
    padding: 80px;
   }
   .hot-deals{
    text-align: center;
   }
   .hot-deals p{
    width: 550px;
   }
   /* .Hot-deals-End */
   /* Instagram-container-start */
   .instagram-container{
    text-align: center;
   }
   .deswidth{
    width: 580px;
    margin: auto;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);;
   }
   .insta-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
   }
   .insta-image img{
    width: 250px;
   }
   /* Instagram-container-End */
   /* latest-deal-container-start */
   .latest-deal-container{
    text-align: center;
    background-image: url('assets/images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 300px;
    padding: 5px;
   }
   .inpu{
    font-size: 18px;
    width:40%;
    border: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-right: 10px;
   }
   .latest-deal-container h2{
    padding-top: 60px;
   }
   .latest-deal-container p{
    line-height: 1px;
   }
   /* latest-dela-end */
   /* Footer Part Start */
   .flower-shop-container{
    text-align: center;
   }
   footer{
    background-color: #111010;;
    padding: 50px;
    color: #fff;
   }
   .flower-shop-container h2{
    color: #fff;
   }
   .flower-shop-container p{
    color: rgba(255, 255, 255, 0.90);
   }
/* Footer Part End */
/* Client Part */
.our-clients-container{
    text-align: center;
}
.clients-comment-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.clients-comment{
    width: 250px;
    height: 200px;
    box-shadow: 4px 4px 8px red;
    padding: 25px 15px;
    text-align: center;
    color: #D9EFF1;
    border-radius: 10px;
    margin-top: 100px;
}
.clients-comment img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -70px;
    margin-bottom: 20px;
    border: 5px solid rgb(231, 4, 4);
}
.clients-talk{
    margin-bottom: 25px;
    font-size: 18px;
    color: #272727;
    text-align: justify;
    font-weight: 700;
    box-sizing: border-box;
}
 